{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to the Shopping Site</h1>
    <p class="lead">Your one-stop shop for all your needs!</p>
    <hr class="my-4">
    <p>Login or Sign Up to start shopping.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('signup') }}" role="button">Sign Up</a>
</div>
{% endblock %}
